* , *::after{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
:root{
--screen-full-width:100%;
--screen-width-tab:800px;
--screen-width-ph:440px;
--spacing-medium:8px;
--spacing-regular:16px;
--font-small:0.5rem;
--font-regular:1rem;
--font-large:2rem;
--font-xl:4rem;
--font-semibold:600;
--body-color:linear-gradient(345deg,
    rgba(232, 86, 18, 0.87)0%,
    rgba(46, 96, 167, 0.805)80%);
--sub-body-color:rgba(144, 187, 230, 0.44);
--sub-body-color2:rgba(196, 155, 155, 0.455);
--sub-body-color3:rgba(163, 203, 235, 0.181);
--search-box-color:rgba(159, 153, 138, 0.636);
--scroll-thumb:#370874;
--white-color:rgba(255, 255, 255, 0.784);
color:white;
}

::-webkit-scrollbar{
    width:5px;
    background-color: var(--white-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--scroll-thumb);
}
body{
    width: var(--screen-full-width);
    font-family: Arial;
   background: linear-gradient(345deg,
        rgba(8, 65, 123, 0.464)0%,
        rgba(4, 66, 95, 0.494)80%), url('src/weather.avif');
   background-size:cover;
   overflow-x: hidden;
    min-width:var(--screen-width-ph);
    height: 100vh;
   

}

h1{
padding-bottom:10px ;
}
h2,p{
    padding: 0;
    margin: 0;
}
nav{
    display: none;
}
.container{
    cursor: pointer;
    margin: auto;
}
.container > article , .container {
    /*border: 1px solid rgb(255, 255, 255);
    */
    border-radius: var(--spacing-regular);
padding: var(--spacing-regular);
    text-align: center;
    font-weight: var(--font-semibold);
    
}
.container{
background: var(--body-color);
padding: calc(var(--spacing-regular)*2);
}
.container{
    display:grid;
    grid-template-columns : repeat(2,1fr);
    grid-template-areas: "sch sch"
                         "c-f c-f "
                         "h-f h-f"
                         "d-f d-f"
                         "f-l h";
    gap:var(--spacing-regular);
    
                        
}
#search{
    grid-area:sch;
    padding: 6px 0px;
    display: inline-block;
    background:var(--search-box-color);
    justify-content: space-around;
    box-shadow: 1px 1px 2px 2px transparent;
}
#search > input{
    box-sizing: border-box;
    font-size: calc(var(--font-large));
    padding: 6px ;
    width: calc(var(--screen-full-width) - var(--font-xl)*1);
    padding-inline:20px 20px ;
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: rgba(var(--search-box-color), 0.711);
    color: white;

}
#search > input::placeholder{
    color: white;
}

#search:focus-within::before{
    content: '◈';
    font-size: calc(var(--font-large) + var(--font-small));
    padding: 0px var(--font-small);
    

}
#search>input:focus-within{
    color: blue;
    width: calc(var(--screen-full-width) - var(--font-xl)*1);
    background: var(--white-color);
}




#current-forcast{
    grid-area: c-f;
   background-color: var(--sub-body-color);

}
/* #current-forcast> .img{
    display: none;
} */
#current-forcast > .heading{
    font-size: var(--font-large);
    /* font-weight:730; */
}
#current-forcast > .temp{
    font-size: calc(var(--font-xl)*0.8);
    padding-bottom: 10px;
    /* font-weight:bold; */
}
#current-forcast .desc{
    text-transform:capitalize;
    padding: var(--font-small);
}

#current-forcast> p{
    font-size:var(--font-regular);
    /* font-weight: 600; */
}

/* styling related to hourly forcast app */

#hourly-forcast {
    grid-area:h-f;
   background-color: var(--sub-body-color3);

}


#hourly-forcast .hourly-forcast{
        display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
            grid-auto-columns: minmax(100px,1fr);
            overflow-x: scroll;
            gap:var(--spacing-regular);
            padding-block: 10px;
     

            
}
 /* .hourly-forcast::-webkit-scrollbar{
    display: none;
 } */

 .hourly-forcast::-webkit-scrollbar {
    height: 4px;
    background-color: #48474964;
    -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        
   
}

.hourly-forcast::-webkit-scrollbar-thumb:horizontal {
    /* line-height: 20px; */
    background-color: var(--scroll-thumb);
    -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;
}

.hours{
    padding-block: 5px;
    margin-bottom: 20px;
}
#hourly-forcast h1{
    padding-bottom:var(--spacing-regular);
}

.hourly-forcast > .icon{
    width: 100px;
    height: 100px;
    object-fit: contain;

}

/* styling related to days forcast app */
.days-forcast{
    grid-area:d-f;
}
#days-forcast{
    display:grid;
    gap:var(--spacing-medium);
    grid-auto-flow: row;
}
.days{
 display: grid;
 grid-auto-flow:column;
 grid-template-columns:auto / minmax(100px,1fr);
 justify-content:space-between;
 text-transform: capitalize;
 align-items: center;
 padding-inline:20px ;
 margin-inline:calc(var(--spacing-regular)*-1) ;
 border-radius:var(--spacing-medium) ;
 background-color: var(--sub-body-color2);
 -webkit-border-radius:var(--spacing-medium) ;
 -moz-border-radius:var(--spacing-medium) ;
 -ms-border-radius:var(--spacing-medium) ;
 -o-border-radius:var(--spacing-medium) ;
height: 70px;
}
.days h3{
    width:50px;
    text-align: start;
    
}

.days img{
    /* border:black solid; */
    height:inherit;
}
.days > .low{
color:var(--body-color);
}

#feels-like{
    grid-area:f-l;
    background: var(--sub-body-color3);
}

#humidity{
    grid-area:h;
    background: var(--sub-body-color3);
} 

.container >article:not(.days-forcast):hover , .days:hover,.hours:hover,#search:focus-within,#search:hover{
    background: rgba(202, 202, 203, 0.342);
    border-radius: var(--spacing-medium);
    box-shadow: 1px 1px 2px 2px var(--search-box-color);

}

@media(width>=650px){
    body{
       
        width: 100%;
    }
    nav{
        display: block;
        padding: calc(var(--spacing-medium)*0.5) calc(var(--screen-full-width)*0.01);
        
        margin-bottom: 1%;
        font-size: calc( var(--font-small)*3 );
        background: rgba(5, 40, 71, 0.772);
        box-shadow: 1px 1px 2px 2px rgba(3, 16, 27, 0.539);
        color:aqua;
    }
    nav  span{
        color: yellow;
    }
    .container{
        width: calc(100% - 10%);
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: "sch sch sch sch"
                "c-f c-f c-f c-f "
                "h-f h-f d-f d-f"
                "f-l h d-f d-f";

          
    }
        /*styles related to current weather app*/
        /* <article id="current-forcast">
             <h1 class="heading">--</h1>
             <p class="temp">--</p>
             <p class="h-l">High:--&nbsp;&nbsp;Low:--</p>
             <img class="img" src="" alt="" srcset="" />
             <p class="desc">Description</p>
             </article> */
    #current-forcast{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: "head t   i"
                             "h-l t desc";
        place-items: center;
    }

        #current-forcast> .heading{
        grid-area: head;
    }
    .temp{
        grid-area: t;
    }
    .h-l{
        grid-area: h-l;
    }
         #current-forcast >.img{
        display: inline-block;
        grid-area: i;
        width: 150px;
        align-self: top;
    }
    .desc{
        grid-area: desc;
    }

}